# Generated datasets
datasets/
coco_hierarchy_north/
yolo_hierarchy_north/

# Mask database
mask_database/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# IDE
.vscode/
.idea/
us_mapdata
yolo_us_hierarchical
Test_data
ne_10m_admin_2_counties
ne_10m_admin_1_states_provinces